[submodule "sdk"]
	path = sdk
	url = https://github.com/alliedmodders/hl2sdk.git
	branch = cs2
[submodule "hl2sdk-manifests"]
	path = hl2sdk-manifests
	url = https://github.com/alliedmodders/hl2sdk-manifests
