"PlayerClass"
{
	"Human"
	{
		"HumanClass1"
		{
			// class behavior, values will not be inherited from base class
			"enabled"					"1"
			"team_default"				"1"

			// player behavior
			// all player attributes are required if it doesn't have a base class
			"health"					"100"
			"model"						"characters/models/ctm_fbi/ctm_fbi.vmdl"
			"skin"						"0"
			"color"						"255 255 255"
			"scale"						"1.0"
			"speed"						"1.0"
			"gravity"					"1.0"
			"admin_flag"				"" // Allowed for all players
		}
		"HumanClass2"
		{
			"enabled"					"1"
			"team_default"				"1"

			"base"						"HumanClass1" // optional

			"model"						"characters/models/ctm_sas/ctm_sas.vmdl" // overrides HumanClass1 model
			"admin_flag"				"b" // Only enabled in !zclass for ADMFLAG_GENERIC
		}
		"HumanClass3"
		{
			"enabled"					"0"
			"team_default"				"0"

			"base"						"HumanClass1"

			"model"						"characters/models/s2ze/isaac_clarke/isaac_clarke.vmdl" // A custom model which will be automatically precached, must be loaded onto server/client by some means (e.g. workshop reuploads)
			"skin"						"3" // The S2ZE Isaac Clarke model has 5 skins, at indexes 0-4
		}
	}
	"Zombie"
	{
		"ZombieClass1"
		{
			"enabled"					"1"
			"team_default"				"1"
			
			"health"					"10000"
			"model"						"characters/models/tm_jumpsuit/tm_jumpsuit_varianta.vmdl"
			"skin"						"0"
			"color"						"255 150 150"
			"scale"						"1.05"
			"speed"						"1.0"
			"gravity"					"1.0"
			"admin_flag"				""
			
			"health_regen_count"		"250"
			"health_regen_interval"		"5.0"
		}
		// special class that the first batch of zombie will be assigned to
		"MotherZombie"
		{
			"enabled"					"1"
			"team_default"				"0"
			
			"health"					"40000"
			"model"						"characters/models/tm_phoenix_heavy/tm_phoenix_heavy.vmdl"
			"skin"						"0"
			"color"						"255 100 100"
			"scale"						"1.15"
			"speed"						"1.0"
			"gravity"					"1.0"
			"admin_flag"				""

			"health_regen_count"		"500"
			"health_regen_interval"		"5.0"
		}
	}
}