"Maplist"
{
	"ze_my_first_ze_map"
	{
		"workshop_id" "123"
		"enabled" "1"
	}
	"ze_my_second_ze_map"
	{
		"workshop_id" "456"
		"enabled" "1"
	}
	"ze_my_thirdd_ze_map"
	{
		"workshop_id" "789"
		"enabled" "1"
	}
}